@model WEB.Models.Equipment

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Удаление</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DeliveryYear)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DeliveryYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку техники</a>
    </form>
</div>
